:root {
    --color-main: #2992D0;
    --color-white: #fff;
    --color-text: #333; 
    --color-background: #013444;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 62.5%;
}

.main {
    width: 65rem;
    margin: 10rem auto;

    background-color: var(--color-background);
    padding: 7rem;
    border-radius: 5px;

    /* position: relative; */
}

.main__heading {
    color: var(--color-main);
    font-size: 3.7rem;
    margin-bottom: 1rem;
}

.main__text {
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 3rem;
    text-align: left;
}

.main__input {
    font-size: 3rem;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
}

.main__input::-webkit-input-placeholder {
    font-size: 2rem;
    padding-left: 0.7rem;
    text-align: left;
}

.main__btn {
    padding: 10px 20px 10px 20px;
    color: var(--color-white);
    text-transform: uppercase;
    background: var(--color-main);
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    
    display: flex;
    flex-wrap: nowrap; 
    /* position: absolute;
    top: 10rem;
    right: 2rem; */
}

